
/*category list page*/
.cat-list {
    margin-top: -20px;
    padding: 0 13px;
    .letter-li {
        color: #777;
        border-bottom: 1px solid #ccc;
        padding: 0px 0;
        width: 100%;
        display: inline-block;
        .letter {
            vertical-align: text-top;
            width: 12%;
            display: inline-block;
            font-size: 54px;
            vertical-align: top;
        
        }
        .cat-li-wrap {
            display: inline-block;
            width: 85%;
            vertical-align: top;
        }
        .cat-li {
            height: 70px;
            margin-bottom: 10px;
            display: flex;
            .img-wrap {
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                width: 80px;
                text-align: center;
            }
            img {
               height: 100%;
            }
        }
        .cat-li-name {
            display: flex;
            vertical-align: middle;
            font-weight: bold;
            font-size: 20px;
            padding-left: 10px;
            height: 100%;
            width: calc(100% - 85px);
            line-height: 95px;
            position: relative;
            align-items: center;
        }
    }
    .cat-li-profession {
        height: 80px;
        padding: 5px 0;
    }
    .profession-name-wrap {
        position: absolute;
        line-height: 18px;
        /* height: 100%; */
        width: 100%;
        text-overflow: ellipsis;
    }
    .profession-child.letter-li {
        border-bottom: none;
    }
}










